*.dll. filter=lfs diff=lfs merge=lfs -text
*.png[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]\#[[:space:]]Bilder[[:space:]](falls[[:space:]]groß) filter=lfs diff=lfs merge=lfs -text
*.mp3[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]\#[[:space:]]Audio-Dateien filter=lfs diff=lfs merge=lfs -text
*.unity3d[[:space:]][[:space:]][[:space:]]\#[[:space:]]Unity-Szenendateien filter=lfs diff=lfs merge=lfs -text
*.fbx[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]\#[[:space:]]3D-Modelle filter=lfs diff=lfs merge=lfs -text
*.exe[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]\#[[:space:]]Ausführbare[[:space:]]Dateien filter=lfs diff=lfs merge=lfs -text
*.prefab[[:space:]][[:space:]][[:space:]][[:space:]]\#[[:space:]]Unity-Prefabs filter=lfs diff=lfs merge=lfs -text
*.mp4[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]\#[[:space:]]Videos filter=lfs diff=lfs merge=lfs -text
*.mov[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]\#[[:space:]]Videos filter=lfs diff=lfs merge=lfs -text
*.tiff[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]\#[[:space:]]Hochauflösende[[:space:]]Bilder filter=lfs diff=lfs merge=lfs -text
*.psd[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]\#[[:space:]]Photoshop-Dateien filter=lfs diff=lfs merge=lfs -text
*.dll[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]\#[[:space:]]Dynamische[[:space:]]Bibliotheken filter=lfs diff=lfs merge=lfs -text
*.dylib[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]\#[[:space:]]Dynamische[[:space:]]Bibliotheken[[:space:]]für[[:space:]]macOS filter=lfs diff=lfs merge=lfs -text
*.asset[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]\#[[:space:]]Unity-Asset-Dateien filter=lfs diff=lfs merge=lfs -text
*.zip[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]\#[[:space:]]Archivdateien filter=lfs diff=lfs merge=lfs -text
*.tar.gz[[:space:]][[:space:]][[:space:]][[:space:]]\#[[:space:]]Komprimierte[[:space:]]Archive filter=lfs diff=lfs merge=lfs -text
*.wav[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]\#[[:space:]]Audio-Dateien filter=lfs diff=lfs merge=lfs -text
*.so[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]\#[[:space:]]Dynamische[[:space:]]Bibliotheken[[:space:]]für[[:space:]]Linux filter=lfs diff=lfs merge=lfs -text
*.jpg[[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]][[:space:]]\#[[:space:]]Bilder[[:space:]](falls[[:space:]]groß) filter=lfs diff=lfs merge=lfs -text
*.tiff[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
*.unity3d[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
*.fbx[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
*.mov[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
*.asset[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
*.png[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
*.wav[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
*.dylib[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
*.so[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
*.zip[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
*.prefab[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
*.mp4[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
*.jpg[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
*.mp3[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
*.psd[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
*.dll[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
*.exe[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
*.tar.gz[[:space:]]filter=lfs[[:space:]]diff=lfs[[:space:]]merge=lfs[[:space:]]-text filter=lfs diff=lfs merge=lfs -text
*.mp4 filter=lfs diff=lfs merge=lfs -text
VR[[:space:]]Room[[:space:]]Studio[[:space:]]3B/Assets/360Video[[:space:]]&[[:space:]]Skybox/Videos/FeuerFinal.mp4 filter=lfs diff=lfs merge=lfs -text
VR[[:space:]]Room[[:space:]]Studio[[:space:]]3B/Assets/360Video[[:space:]]&[[:space:]]Skybox/Videos/Feuer.mp4 filter=lfs diff=lfs merge=lfs -text
